<%  var a=''; %>
<% if(check==false) a='R'%>
<%- include('partials/'+a+'Header') -%>

<!-- style sheet css -->
<link rel="stylesheet"  href="/css/zArticle.css" type="text/css">

<script type="text/javascript">


  function searchgo(){
     var a=document.getElementById("inputID").value;
     if(a==""){alert("Enter article to be Searched");return false;}
     else{
       document.getElementById("searchid").href ="/search/"+a;
       return true;
     }
  }

  function pageingR(){
    if(<%= page %> != 0){
      var a = <%= page %>+1;
      var b =Math.ceil(<%=doc%>/6);
      if( a > b )a=a-1;
      document.getElementById("myAnchorR").href ="/articles/"+a; } }

  function pageingL(){ var a = <%= page %>-1;
    if(<%= page %> != 0){
      if(a==0)a=1;
      document.getElementById("myAnchorL").href ="/articles/"+a; }}

</script>

<!-- ////////////////////////////////////////////content///////////////////////////////////////// -->

<section id="title">

 <div class="headerr">

      <div class="row rowmargin">
        <div class="col-lg-6 " ><img src="/images/fur.png" class="articleimage" alt=""></div>
        <div class="col-lg-6 titlemain2 "  ><h1 class="titlemain " >Wellcome in Article Section</h1></div>
      </div>
    </div>
  </section>


<div class="vineimaediv">
  <h2 class="headingpublish"><i class="fas fa-pen-fancy fa-sm"></i> Publish your Article Today...Get started Now !</h2>
</div>

<!-- //////////////////////////////////////////////////////////////////////////post card section////////////////////////////////////////////////////// -->


<section id="searchbar">

    <section id="postCardSection">

<!--  search bar  and its item; -->

      <div class="itemsearchbar">
        <div class="searchbaricon "><span class="findicon"><i class="fas fa-search"></i></span></div>
        <div class="searchbarmain"><input class="inputofsearch" id="inputID" type="text" name="keyword" value="" placeholder="Search Articles"></div>
        <div class="searchbaroptions"><p ><%=doc%> Articles +</p></div>
        <div class="searchbargo ">
          <div class="gohoverScale">  <a id="searchid" href=" " onclick="return searchgo()" class="findicon2 gohover  "><i class="fas fa-sign-in-alt"></i></a></div>
        </div>
      </div>

      <div class="message2" id="messageID2">
        <h2 class="headingpublish2">Total of <%=posts.length%> results Found<h2>
      </div>

<!-- rows of the post card -->


  <div class="row">

  <!-- ----------------------------------------------------------------------------------------------------- -->

      <% for(var i=0;i<posts.length; i++){ %>



  <div class="col-lg-4  col-md-6 col-sm-6">
  <div class="blog-card float">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
  <div class="namdandprofile" >
    <div class="tempouta"><h3 class="nameperson"><i class="fas fa-user"></i> <%=posts[i].name.split(" ")[0]%> </h3></div>
    <div class="tempoutb"><img  class="temp" src="data:image/jpeg;base64,<%=posts[i].imgdata.toString('base64')%>" alt=""></div>
  </div>
  <li class="author"><span class="postcardtags"><i class="fas fa-user"></i></span> <%= posts[i].name %></li>
  <li class="date"><span class="postcardtags"><i class="fas fa-calendar-week"></i></span> <%= posts[i].date %> </li>
  <li class="tags">
   <ul>
     <span class="postcardtags"><i class="fas fa-tag"></i></span>
     <% for(var j=1;j<posts[i].tags.length; j++){ %>
     <li><%= posts[i].tags[j] %>, </li>
      <% } %>
   </ul>
  </li>
  </ul>
    </div>

    <div class="description">

      <div class="">
        <div class="twohOnediv">
          <h2 class="fontsizeofh1">
          <%  if(posts[i].mainHeading.length > 19){ %>
            <%= posts[i].mainHeading.substr(0, 19) %>..
            <% } else { %>
                 <%= posts[i].mainHeading %>
            <% } %>

          </h2>
          <h2 class="fontsizeofh2">
            <%  if(posts[i].subHeading.length > 20){ %>
              <%= posts[i].subHeading.substr(0, 20) %>...
              <% } else { %>
                   <%= posts[i].subHeading %>
              <% } %>

          </h2>
        </div>
        <div class="deletediv">
          <span>
            <a  href="/account/<%= posts[i].accountId %>"><i class="far fa-user-circle fa-2x"></i></a>
          </span>
        </div>
      </div>

      <!-- <hr class="greenline"> -->
      <p class="greenline"></p>
        <h6 class="descriptionOpacity">
          <%=posts[i].paraOne.substr(0, 240)%>....
        </h6>
      <div class="bottomdesc">
        <div class="inline aa"><a data-modal="#<%= posts[i]._id %>" class="modal__trigger" >Read More »» </a></div>
        <div class="inline bb ">Posted: <%= posts[i].time %></div>
      </div>
    </div>
  </div>
  </div>

  <!-- /////////////////material to display on post popup//////////// -->

  <div id="<%= posts[i]._id %>" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__content">
        <h1 class="postheadingpoup" ><%= posts[i].mainHeading %></h1>
        <h3  class="postheadingpoup2"><%= posts[i].subHeading %></h3>
        <p class="paracontent"><%= posts[i].paraOne %></p>
        <p ><img class="postimage" src="https://unsplash.it/600/300" alt="" /></p>
        <p class="paracontent">
          <% if (posts[i].paraTwo !="") %>
          <%= posts[i].paraTwo %>
        </p>
        <p class="paracontent">
          <% if (posts[i].paraThree !="") %>
          <%= posts[i].paraThree %>
        </p>
        <a class="nameperson2" ><i class="far fa-user-circle"></i></a>
        <a  class="modal__close demo-close">
          <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
        </a>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <%} %>
  </div>

  <!-- <button type="button" name="button">sdfsdfsd</button> -->
  <div class="message" id="messageID">
    <h2 class="headingpublish2">Sorry, There is No Article like this....<h2>
  </div>

<!-- ////////////////////////////////////bottom buttons/////////////////// -->
    <div class="bottomdiv">
         <div class="leftbtnbottom gohover floatt gohoverScale2">
           <span><a onclick="return pageingL()" id="myAnchorL" ><i class="fas fa-arrow-left fa-2x">
           </i></a> </span></div>

         <div class="rightbtnbottom gohover floatt gohoverScale2">
           <span><a onclick="return pageingR()" id="myAnchorR"><i class="fas fa-arrow-right fa-2x">
           </i></a></span></div>
    </div>

  </section>



</section>


  <!-- Footer -->
  <footer id="footer">

    <i class=" footer_icon fab fa-facebook-f "></i>
    <i class=" footer_icon fab fa-instagram"></i>
    <i class=" footer_icon fab fa-twitter"></i>
    <i class=" footer_icon fas fa-envelope-square"></i>
      <p>© Copyright 2020 byAmir</p>





  </footer>
</body>
</html>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- <script src="/js/popup.js" charset="utf-8"></script> -->
<script type="text/javascript">
  var Modal = (function() {

    var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
    var modals = $qsa('.modal'); // the entire modal (takes up entire window)
    var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
    var content = $qsa('.modal__content'); // the inner content of the modal
  	var closers = $qsa('.modal__close'); // an element used to close the modal
    var w = window;
    var isOpen = false;
  	var contentDelay = 40; // duration after you click the button and wait for the content to show
    var len = trigger.length;

    function $qsa(el) {
      return document.querySelectorAll(el);
    }

    var getId = function(event) {

      event.preventDefault();
      var self = this;
      var modalId = self.dataset.modal;
      var len = modalId.length;
      var modalIdTrimmed = modalId.substring(1, len);
      var modal = document.getElementById(modalIdTrimmed);
      makeDiv(self, modal);
    };

    var makeDiv = function(self, modal) {
      var fakediv = document.getElementById('modal__temp');
      if (fakediv === null) {
        var div = document.createElement('div');
        div.id = 'modal__temp';
        self.appendChild(div);
        moveTrig(self, modal, div);
      }
    };

    var moveTrig = function(trig, modal, div) {
      var trigProps = trig.getBoundingClientRect();
      var m = modal;


  		window.setTimeout(function() {
  			window.requestAnimationFrame(function() {
  				open(m, div);
  			});
  		}, 1);

    };

    var open = function(m, div) {

      if (!isOpen) {
        var content = m.querySelector('.modal__content');
        m.classList.add('modal--active');
        content.classList.add('modal__content--active');
        content.addEventListener('transitionend', hideDiv, false);
        isOpen = true;
      }

      function hideDiv() {
        div.style.opacity = '0';
        content.removeEventListener('transitionend', hideDiv, false);
      }
    };

    var close = function(event) {

  		event.preventDefault();
      event.stopImmediatePropagation();

      var target = event.target;
      var div = document.getElementById('modal__temp');
      if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {
        div.style.opacity = '1';
        div.removeAttribute('style');

  			for (var i = 0; i < len; i++) {
  				modals[i].classList.remove('modal--active');
  				content[i].classList.remove('modal__content--active');
  				trigger[i].style.transform = 'none';
          trigger[i].style.webkitTransform = 'none';
  				trigger[i].classList.remove('modal__trigger--active');
  			}

  			div.addEventListener('transitionend', removeDiv, false);
        isOpen = false;

      }

      function removeDiv() {
        setTimeout(function() {
          window.requestAnimationFrame(function() {
            // remove the temp div from the dom with a slight delay so the animation looks good
            div.remove();
          });
        }, 10);
      }

    };

    var bindActions = function() {
      for (var i = 0; i < len; i++) {
        trigger[i].addEventListener('click', getId, false);
        closers[i].addEventListener('click', close, false);
        modalsbg[i].addEventListener('click', close, false);
      }
    };

    var init = function() {
      bindActions();
    };

    return {
      init: init
    };

  }());

  Modal.init();
</script>

<!-- //////////////////////////////////////////// artile javascript ///////////////////////// -->

<script type="text/javascript">

  if(<%= page %> == 0){document.getElementById("navbarDropdown").classList.add("active");}
  else { document.getElementById("b").classList.add("active");}

  if(<%= posts.length %> == 0){
    document.getElementById("messageID").style.display = "flex";}

  if(<%= page %> == 0 && <%= posts.length %> > 0){
    document.getElementById("messageID2").style.display = "flex";  }

</script>
